# ignore all files starting with . or ~
.*
~*
coverage/

# ignore node/grunt dependency directories
node_modules/

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# track these files, if they exist
!.gitignore
!.editorconfig
!.phpcs.xml.dist
!.env.example
!.eslintrc.json

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/